<h1 style='color: blue; font-size: 34px; font-weight: bold;'> Projeto Proposto 
</h1>
<p style='font-size: 18px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i> Este projeto tem o intuito de estudar Redes Neurais Artificiais e suas aplicações em Deep Learning </i>       
</p>

# <font color='red' style='font-size: 40px;'> Bibliotecas Utilizadas </font>
<hr style='border: 2px solid red;'>

In [1]:
import pandas as pd 
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.weightstats import ztest
from statsmodels.stats.diagnostic import lilliefors
from statsmodels.tsa import stattools
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf 
from statsmodels.tsa.seasonal import seasonal_decompose
from scipy.stats import bernoulli, binom, poisson, geom, norm, chi2, f, normaltest, ttest_ind, ttest_rel, wilcoxon, mannwhitneyu, kruskal
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px 
import plotly.graph_objects as go
import importlib
import transition_matrix_estimator
from transition_matrix_estimator import TransitionMatrixLearner
import time
import datetime
import warnings
import category_encoders as ce 
from category_encoders import BinaryEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score, precision_score, recall_score, f1_score, confusion_matrix

%matplotlib inline
sns.set(style="whitegrid", font_scale=1.2)
plt.rcParams['font.family'] = 'Arial'
plt.rcParams['font.size'] = '14'
plt.rcParams['figure.figsize'] = [10, 5]
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', lambda x: '%.4f' % x) # Tira os números do formato de Notação Científica
np.set_printoptions(suppress=True) # Tira os números do formato de Notação Científica em Numpy Arrays
warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning) # Retira Future Warnings

# <font color='red' style='font-size: 40px;'> Exemplo Montagem de Target </font>
<hr style='border: 2px solid red;'>

# <font color='green' style='font-size: 30px;'> 1.1) Teste 1 </font>
<hr style='border: 2px solid green;'>

> 1. Testes de Continuidade: Verificação da consistência temporal dos dados por contrato (sem quebras ou lacunas indevidas).

> 2. Criação da Coluna flag_acordo: Identificação de registros com acordos ou renegociações.

> 3. Criação da Coluna over90: Flag mensal de inadimplência grave (atraso superior a 90 dias).

> 4. Criação da Coluna mau: Identificação de contratos irrecuperáveis com base em regras de negócio.

> 5. Construção do Grupo Performing: Definição da amostra elegível para modelagem de PD, com base no status performing.

> 6. Criação da Coluna ever90m12: Indica se o contrato atingiu atraso >90 dias em qualquer mês dos próximos 12 meses (sem considerar acordos).

> 7. Criação da Coluna over90m12: Indica se o contrato está em atraso >90 dias ao final da janela futura de 12 meses (sem considerar acordos).

> 8. Criação da Coluna target: Flag final de inadimplência futura, considerando tanto atraso quanto acordos.

> 9. Congelamento do Snapshot de Contratos: Seleção de uma linha por contrato para representar o momento de avaliação (janela de decisão).

> 10. Curva de Inadimplência (over90) por Mês: Análise temporal do volume de contratos inadimplentes mês a mês (painel e snapshot).

> 11. Curvas de ever90m12 e over90m12 por Mês: Evolução mensal dos indicadores prospectivos de risco (apenas painel).

> 12. Construção da Matriz de Transição: Avaliação da migração de status de crédito entre períodos (ex: performing → inadimplente).

> 13. Construção da Curva de Cura: Medição da recuperação de contratos inadimplentes ao longo do tempo.

### 1.1.1) Entendimento de Conceitos

> 1. data_inicio_contrato

- É a data que o cliente e o banco firmaram acordo, como por exemplo 2014-09-30
- Em muitos casos, existe "carência" até o 1 vencimento, portanto, o contrato existe juridicamente mas não dá para medir performance ainda

> 2. safra:

- Mês de nascimento da performance
- Se a primeira parcela vence em jan/2025, o contrato é marcado como safra de 201501

> 3. dat_ref:

- A cada dat_ref (foto mensal), o contrato é monitorado
- A safra nunca muda, porque é o "carimbo" da geração

In [14]:
historico  = pd.read_parquet('./data/full_history.parquet')
historico.sort_values(by=['id_contrato','data_ref'], inplace=True)
historico['data_ref'] = pd.to_datetime(historico['data_ref'])


rastro_contratos = pd.read_parquet('./data/rastro_contratos.parquet')
rastro_contratos.sort_values(by=['id_antigo'], inplace=True)
rastro_contratos['data_evento'] = pd.to_datetime(rastro_contratos['data_evento'])
rastro_contratos.rename(columns={'id_antigo': 'id_contrato', 'data_evento': 'data_inicio_contrato'}, inplace=True)

display(historico.head(15))
display(rastro_contratos.head(15))

   id_contrato data_inicio_contrato   data_ref   safra  dias_atraso
0     10000000           2014-09-30 2015-01-01  201501           30
1     10000000           2014-09-30 2015-02-01  201501           15
2     10000000           2014-09-30 2015-03-01  201501           15
3     10000000           2014-09-30 2015-04-01  201501           30
4     10000000           2014-09-30 2015-05-01  201501           60
5     10000000           2014-09-30 2015-06-01  201501           90
6     10000000           2014-09-30 2015-07-01  201501           60
7     10000000           2014-09-30 2015-08-01  201501           90
8     10000000           2014-09-30 2015-09-01  201501           90
9     10000000           2014-09-30 2015-10-01  201501           60
10    10000000           2014-09-30 2015-11-01  201501           60
11    10000001           2014-12-01 2015-01-01  201501           15
12    10000001           2014-12-01 2015-02-01  201501           15
13    10000001           2014-12-01 2015-03-01  201501           30
14    10000001           2014-12-01 2015-04-01  201501           60

     id_contrato   id_novo data_inicio_contrato
1023    10000000  10004583           2015-12-01
368     10000001  10003338           2015-06-01
706     10000002  10003996           2015-09-01
0       10000003  10002500           2015-02-01
255     10000007  10003118           2015-05-01
1366    10000009  10005220           2016-03-01
815     10000010  10004198           2015-10-01
55      10000011  10002680           2015-03-01
816     10000013  10004199           2015-10-01
256     10000015  10003119           2015-05-01
1024    10000016  10004584           2015-12-01
2241    10000017  10007246           2016-11-01
257     10000018  10003120           2015-05-01
598     10000019  10003784           2015-08-01
141     10000020  10002889           2015-04-01

### 1.1.2) Flag de Renegociação   

> 1. Renegociação é quando o cliente não consegue mais horar o contrato original e o banco faz um novo acordo para tentar recuperar o crédito. Exemplo:

- O cliente estava atrasado várias parcelas
- Ao invés do banco contabilizar uma perda efetivamente, o banco oferece uma renegociação:
    - Pode reparcelar o saldo devedor em novas condições de prazos
    - Pode descontar parte da dívida
    - Pode dar carência antes de retomar os pagamentos
- Nesses casos, o ID do contrato geralmente muda e o novo ID carrega a dívida renegociada

In [19]:
historico['flag_acordo'] = 0

rastro_contratos["safra"] = np.nan
rastro_contratos["data_ref"] = np.nan
rastro_contratos["dias_atraso"] = np.nan
rastro_contratos['flag_acordo'] = 1
rastro_contratos = rastro_contratos[['id_contrato', 'data_inicio_contrato', 'data_ref', 'safra', 'dias_atraso', 'flag_acordo']]

df = pd.concat([historico, rastro_contratos])
df.sort_values(by=['id_contrato','data_ref'], inplace=True)
df.head(15)

,id_contrato,data_inicio_contrato,data_ref,safra,dias_atraso,flag_acordo
0,10000000,2014-09-30,2015-01-01,201501,30.0000,0
1,10000000,2014-09-30,2015-02-01,201501,15.0000,0
2,10000000,2014-09-30,2015-03-01,201501,15.0000,0
3,10000000,2014-09-30,2015-04-01,201501,30.0000,0
4,10000000,2014-09-30,2015-05-01,201501,60.0000,0
5,10000000,2014-09-30,2015-06-01,201501,90.0000,0
6,10000000,2014-09-30,2015-07-01,201501,60.0000,0
7,10000000,2014-09-30,2015-08-01,201501,90.0000,0
8,10000000,2014-09-30,2015-09-01,201501,90.0000,0
9,10000000,2014-09-30,2015-10-01,201501,60.0000,0
10,10000000,2014-09-30,2015-11-01,201501,60.0000,0
1023,10000000,2015-12-01,NaT,NaN,NaN,1
11,10000001,2014-12-01,2015-01-01,201501,15.0000,0
12,10000001,2014-12-01,2015-02-01,201501,15.0000,0
13,10000001,2014-12-01,2015-03-01,201501,30.0000,0

In [47]:
df

,id_contrato,data_inicio_contrato,data_ref,safra,dias_atraso,data_novo_contrato,flag_acordo
0,10000000,2014-09-30,2015-01-01,201501,30,2015-12-01,0
1,10000000,2014-09-30,2015-02-01,201501,15,2015-12-01,0
2,10000000,2014-09-30,2015-03-01,201501,15,2015-12-01,0
3,10000000,2014-09-30,2015-04-01,201501,30,2015-12-01,0
4,10000000,2014-09-30,2015-05-01,201501,60,2015-12-01,0
...,...,...,...,...,...,...,...
115181,10012223,2017-11-25,2017-12-01,201712,360,NaT,0
115182,10012224,2017-11-17,2017-12-01,201712,15,NaT,0
115183,10012225,2017-11-13,2017-12-01,201712,0,NaT,0
115184,10012226,2017-11-25,2017-12-01,201712,15,NaT,0
115185,10012227,2017-11-30,2017-12-01,201712,15,NaT,0

In [48]:
df['flag_acordo'].value_counts(normalize=True, dropna=False)*100

flag_acordo
0   100.0000
Name: proportion, dtype: float64

In [ ]:
historico.loc[historico['id_contrato'] == '10000000']

In [ ]:
rastro_contratos.loc[rastro_contratos['id_antigo'] == '10000000']

# <font color='red' style='font-size: 40px;'> Exemplo Rolagem </font>
<hr style='border: 2px solid red;'>

https://www.kaggle.com/datasets/adilshamim8/credit-risk-benchmark-dataset

In [4]:
df = pd.read_csv('./data/Credit Risk Benchmark Dataset.csv')

# <font color='red' style='font-size: 40px;'> Exemplo Inferência de Negados </font>
<hr style='border: 2px solid red;'>

https://python.plainenglish.io/a-project-on-reject-inference-94a6858bc821

https://www.kaggle.com/code/shraddhacodes/credit-card-default-reject-inference-project

# <font color='green' style='font-size: 30px;'> 1.1) Teste 1 </font>
<hr style='border: 2px solid green;'>

In [3]:
df_approved = pd.read_excel('./data/appbeh_approved.xlsx')
df_rej = pd.read_excel('./data/appbeh_rej.xlsx')

# <font color='red' style='font-size: 40px;'> Exemplo Regressão Logística + Binning + Scorecard </font>
<hr style='border: 2px solid red;'>


https://www.kaggle.com/datasets/s3r1alsh0ck/finance-dataset-for-credit-risk-fraud-detection

# <font color='green' style='font-size: 30px;'> 1.1) Teste 1 </font>
<hr style='border: 2px solid green;'>

In [ ]:
def optimal_binning_sim(df, feature, target, n_bins=5):
    """
    Simula Optimal Binning usando quantis e calcula WoE e IV.
    
    Parâmetros:
        df (pd.DataFrame): DataFrame com feature e target
        feature (str): Nome da variável contínua
        target (str): Nome da variável target binária (0/1)
        n_bins (int): Número de bins desejado
    
    Retorna:
        pd.DataFrame com: Bin, min, max, n_obs, n_good, n_bad, %good, %bad, WoE, IV
    """
    
    # Criar bins usando quantis
    df = df.copy()
    df['bin'] = pd.qcut(df[feature], q=n_bins, duplicates='drop')
    
    # Inicializar tabela
    bins_table = df.groupby('bin').agg(
        n_obs=(target, 'count'),
        n_bad=(target, 'sum')
    ).reset_index()
    
    bins_table['n_good'] = bins_table['n_obs'] - bins_table['n_bad']
    bins_table['%bad'] = bins_table['n_bad'] / bins_table['n_bad'].sum()
    bins_table['%good'] = bins_table['n_good'] / bins_table['n_good'].sum()
    
    # Calcular WoE
    # Evitar divisão por zero
    bins_table['WoE'] = np.log((bins_table['%good'] + 1e-6) / (bins_table['%bad'] + 1e-6))
    
    # Calcular IV
    bins_table['IV'] = (bins_table['%good'] - bins_table['%bad']) * bins_table['WoE']
    
    # Adicionar limites do bin
    bins_table['min'] = bins_table['bin'].apply(lambda x: x.left)
    bins_table['max'] = bins_table['bin'].apply(lambda x: x.right)
    
    bins_table = bins_table[['bin','min','max','n_obs','n_good','n_bad','%good','%bad','WoE','IV']]
    
    return bins_table

# -------------------------
# Exemplo de uso
# -------------------------
np.random.seed(42)
df = pd.DataFrame({
    "renda": np.random.normal(5000, 2000, 1000),
    "inadimplente": np.random.choice([0,1], size=1000, p=[0.85,0.15])
})

bins_df = optimal_binning_sim(df, feature='renda', target='inadimplente', n_bins=5)
print(bins_df)
print("\nIV total:", bins_df['IV'].sum())

In [5]:
df_= pd.read_csv('./data/5k.csv')